.nav-header{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#202020;
}
.nav-content{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    max-width:1100px;
    padding:15px 0px 25px 0px;



}
.nav-bar-mobile-logo-container{
    display:flex;
    justify-content:space-between;
    width:100%;
    max-width:1100px;
    padding:15px 0px 25px 0px;
}
.nav-bar-large-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    max-width:1110px;
}
.website-logo{
    width:90px;
    margin-top:12px;

}
.nav-menu{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-self:flex-end;
    list-style-type:none;
    margin-top:0px;

}
.nav-menu-item{
    font-family:"Roboto";
    text-decoration:none;
    margin:10px;
    font-weight:400;
    font-size:16px;
}
.logout-desktop-content{
    font-family:"Roboto";
    font-weight:600;
    color:#ffffff;
    border:none;
    cursor:poniter;
    outline:none;

}
.nav-bar-mobile-icons-container{
    display:flex;
    align-items:center;
    list-style-type:none;
}
.nav-item-mobile-link{
    font-size:24px;
    color:#ffffff;
    margin-right:20px;
}